
# ignore deps
backend/node_modules/
flutter_app/.dart_tool/
flutter_app/build/
flutter_app/.idea/
flutter_app/android/.gradle/
flutter_app/android/app/build/
flutter_app/android/local.properties
backend/data/*.sqlite
backend/.env
